 /*global*/

*{
	padding: 0;
	margin:0;
}

body{
	overflow-x: hidden;
	font-family: "Bitter";
}
button{
	cursor: pointer;
}

/*header*/

header{
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #292833;
	color: white;
	padding: 15px 0;
}
.web_title{
	padding-left: 100px;
	font-size: 30px;
	font-family: "Beth Ellen"
}
#primarybtn{
	width: 100px;
	height: 35px;
	border-radius: 20px;
	border: none;
	background-color: tomato;
	font-size: 15px;
	color: white;
}
.top_navigation{
	padding-right: 100px;
	justify-self:end;

	margin:auto 0;
}
.top_navigation a:nth-child(1){
	padding-right: 40px;
	text-decoration: none;
	font-size: 20px;
	color: white;
}
/*footer*/
footer{
	min-height: 100px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	background-color: #292833;
	margin-top: 20px;
	color: darkgrey;
}
footer span{
	font-size: 13px;


}

.contact{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10vh 0;
	text-align: center;
	font-family: sans-serif;
	background-color: #f2f2f2;
	box-shadow: inset 2px 2px 2px grey,2px 2px 2px grey;
	margin: auto;
	width: 60%;
	margin-top: 20px;
   
}

.contact button{
	width: 200px;
	height: 35px;
	background: tomato;
	font-size: 20px;
	color: white;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
}
.email span{
	font-size: 20px;
}
.contact span{
	font-size: 25px;
	font-weight: lighter;
	font-family: monospace;
	margin-bottom: 30px;
}
.contact textarea{
	width: 300px;
	height: 100px;
	resize: vertical;
	border-radius: 10px;
	
}
.contact form input{
   width: 300px;
   height: 35px;
   border-radius: 20px;
   margin-bottom: 20px;
}
.contact form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}
/*media rules*/
@media screen and (max-width: 800px){
	.contact{
		width: 80%;
	}
	.web_title{
      padding-left: 20px;
      font-size: 30px;
      
	}
	.top_navigation{
		padding-right: 20px;
	}
}

@media screen and (max-width: 550px){
	#collec{
		display: none;
		padding: 20vh 0;
	}
	.web_title{
      padding-left: 10px;
      font-size: 25px;
      
	}
	.top_navigation{
		padding-right: 10px;
	}
	header{
	grid-template-columns: 1fr 1fr;

	}
	#primarybtn{
	width: 90px;
	height: 30px;
	font-size: 13px;
   }
   .contact{
   	width: 98%;
   }
   }