
/*showcase*/
.showcase{
	min-height: 600px;
	background-image: url(../img/c2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	color: yellow;
}
#showcase_welcome{
   font-size: 45px;
   font-weight: bolder;
}
#showcase_phno{
   font-size: 40px;
   color: white;

}
.showcase_content p{
	font-size: 35px;
	
	margin: 20px 0;
}
.showcase_content{
	padding-right: 100px;
}
.showcase_content button{
	width: 200px;
	height: 40px;
	font-size: 17px;
	background-color: red;
	border-radius: 20px;
	color: white;
	border: none;
	margin-top: 10px;
}
/*content*/
.top_collections div{
	width: 80%;
	margin: 10px auto;
	display: flex;
}
.top_collections img{
	height: 500px;
}
.collections_shirt_content,.collections_pant_content,.collections_tshirt_content{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.top_collections span{
	font-size: 4.5vw;
	font-family: "Bree Serif";
}
.top_collections p{
	font-size: 2vw;
	margin-top: 20px;
	line-height: 1.6;
	margin: 10px;
}
.collections_button{
	width: 200px;
	height: 40px;
	color: white;
	border: none;
	background-color: red;
	border-radius: 20px;
	font-size: 18px;
}



@media screen and (max-width: 800px){
	
	.showcase{
		justify-content: center;
		min-height: 500px;
	}
	.showcase_content{
		padding: 0;
	}
	.top_collections p{
		font-size: 3vw;
	}
	.top_collections img{
		height: 350px;
	}
}

@media screen and (max-width: 550px){
	
   .showcase{
	height: 93vh;
	background-image: url(../img/bb.jpg);
   }
	#showcase_welcome{
    font-size: 40px;
    color: white;
   }
   #showcase_phno{
   font-size: 30px;
   color: white;
  
   }
   .showcase_content p{
   	font-family: "Pacifico";
	font-size: 25px;
	
	
   }
   .top_collections div{
	width: 100%;
  }
  .top_collections p{
		font-size: 17px;
	}
	.top_collections img{
		height: 430px;
	}
	.top_collections span{
		font-size: 28px;
	}
	.collections_shirt{
		flex-direction: column-reverse;
	}
	.collections_pant{
		flex-direction: column;
	}
	.collections_tshirt{
		flex-direction: column-reverse;
	}
	

}



